.container-everything {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  display:block;
  margin-top:5%;
}

h1 {
	display: flex;
  margin-top: 0%;
	align-self: center;
	position: absolute;
	font: 40px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color:#D8E3B4;
}
.alive {
  height: 350px;
}
#chart {
  margin: 0px;
  display: wrap;
  /* flex-direction: column; */
  justify-content: flex-start;
}
.container-character {
  display: flex;
  justify-content: center;
  align-items: center;
}


