.container-everything {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  display:block;
  /* text-align: center;
  align-items:center; */
  /* margin-left: 20%; */
  margin-top:5%;
}

h1 {
	display: flex;
  margin-top: 0%;
  /* margin-left: 15%; */
	align-self: center;
	position: absolute;
	font: 40px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}
.alive {
  height: 350px;
}
#chart {

  margin: 0px;
  display: flex;
  flex-direction: column;

}
